@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  font-family: "Stack Sans Text", sans-serif;
  font-weight: 200;
}

:root {
  --background-rgb: 250, 250, 249; 
  --foreground-rgb: 23, 23, 23; 
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-primary {
  color: rgb(23, 23, 23);
}

.text-secondary {
  color: rgb(75, 85, 99); 
}

.text-muted {
  color: rgb(107, 114, 128);
}

.text-subtle {
  color: rgb(156, 163, 175); 
}
