@import "tailwindcss";

@theme {
  --font-sans: "Stack Sans Text", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Stack Sans Notch", ui-sans-serif, system-ui, sans-serif;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}

@layer base {
  p {
    font-family: var(--font-sans);
    font-weight: 200;
  }

  :root {
    --background-rgb: 250, 250, 249;
    --foreground-rgb: 23, 23, 23;
  }

  html,
  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    width: 100%;
  }
}

@utility text-balance {
  text-wrap: balance;
}

.text-primary {
  color: rgb(23, 23, 23);
}

.text-secondary {
  color: rgb(75, 85, 99);
}

.text-muted {
  color: rgb(107, 114, 128);
}

.text-subtle {
  color: rgb(156, 163, 175);
}